
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>matta_chaithanya's Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type= "text/css" rel= "stylesheet" href="matta_chaithanya.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body  >
        <div class="container-fluid">
                <div class="row" style="text-align:center;padding:1.5em;background-color:white">
                    <div class="col-md-1 head" style="color:#5a95f4;" >
                        <p class="home">Manas</p>
                    </div>
                    <div class="col-md-2 head" style="color:#5a95f4;" >
                            <i class="fa fa-about"></i><a href="about">About me</a>
                    </div>
                    <div class="col-md-4 head" style="color:#5a95f4;">
                            <i class="fa fa-calculator"></i><a href="simpleinterest">Simple Interest Calculator</a>
                    </div>
                    <div class="col-md-2 head" style="color:#5a95f4;">
                            <i class="fa fa-phone"></i><a href="contact">Contact</a>
                    </div>
        
                    <div class="col-md-3 head" style="color:#5a95f4;">
                        <i class="fa fa-book"></i><a href="guestbook">Guestbook</a>
                </div>
        
                </div>
               <div class="container">

<h1 class= "text">
Manas Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
               </div></body>
</html>








